@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

blockquote header p{
	font-style: normal;
	font-variant: small-caps;
	text-align: center;
}

/* this is to create equivalent of a brace when several people speak at once */
#chapter-1-2 div,
#chapter-2-16 div{
	border-left: 1px solid black;
	padding-left: 0;
}

#chapter-1-2 div p:first-child,
#chapter-2-16 div p:first-child{
	hanging-punctuation: none;
	text-indent: 1em;
}

#chapter-1-5 blockquote:first-of-type{
	border: 2pt solid black;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

#chapter-1-5 blockquote:first-of-type p{
	font-style: italic;
	padding: .5em;
}

#chapter-2-6 blockquote p:nth-of-type(1),
#chapter-2-6 blockquote p:nth-of-type(2){
	font-variant: small-caps;
	padding-bottom: .5em;
	text-align: center;
}

#chapter-2-6 blockquote p:nth-of-type(3){
	font-style: italic;
	font-variant: normal;
	text-align: center;
}

#chapter-3-2 blockquote{
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
	padding: 20px;
}

#chapter-3-2 blockquote p{
	text-align: center;
	text-indent: 0;
}

#chapter-3-2 blockquote p:nth-of-type(1){
	font-size: 120%;
	font-variant: small-caps;
}

#chapter-3-2 blockquote p:nth-of-type(2){
	font-variant: small-caps;
}

#chapter-3-2 blockquote p:nth-of-type(3){
	font-style: italic;
}

/* poetry styling */
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

/* Letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
