@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-2-6 blockquote header{
	margin-bottom: 0.5em;
}

#chapter-2-6 blockquote p{
	font-variant: small-caps;
	text-align: center;
}

#chapter-2-6 blockquote p:last-child{
	font-style: italic;
	font-variant: normal;
}
